@bit:registry = https://node.bit.dev/
always-auth = true

# For BitBucket Pipelines, make sure to put the bit auth token below.
# //node.bit.dev/:_authToken = TOKEN_GOES_HERE
# See https://discourse.bit.dev/t/installing-bit-components-during-ci/17
